# Web Automation and Information Retrieval with Python

#### Challenge: 

We work in an import company and the price of our products is linked to the quotation of:
- Dollar
- Euro
- Gold

We need to get on the internet, in an automatic way, the quotation of these 3 items and know how much we should charge for our products, considering a contribution margin that we have in our database.

Data Base: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

To do this, we will create a web automation:

- We will use selenium
- Important: download the webdriver

In [3]:
from selenium import webdriver #Controlar navegador
from selenium.webdriver.common.keys import Keys #Usar teclado
from selenium.webdriver.common.by import By #Localizar intes no navegador

# Opening a browser
browser = webdriver.Chrome()

# 1 - Get dollar scavenging
browser.get("https://www.google.com/")

browser.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('translation from dollar to real')

browser.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

dollar_scavenging = browser.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print(dollar_scavenging)

# 2 - Get euro scavenging
browser.get("https://www.google.com/")

browser.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('translation from euro to real')

browser.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

euro_scavenging = browser.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print(euro_scavenging)

# 3 - Get gold scavenging
browser.get("https://www.melhorcambio.com/ouro-hoje")

gold_scavenging = browser.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute('value')

gold_scavenging = gold_scavenging.replace(",", ".")

print(gold_scavenging)

browser.quit()

5.1551
5.645363913000001
318.67

### Now let's update our price base with the new quotes

- Import Data base

In [14]:
#4 - Import the product list

import pandas as pd

chart = pd.read_excel("Product.xlsx")

display(chart)

,Product,Original Price,Coin,Quote,Purchase Price,Profit,Sales Price
0,Camera Canon,999.99,Dollar,5,4999.95,1.40,6999.930
1,Renault Car,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dollar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dollar,5,3995.00,1.70,6791.500
4,Fiat Car,3000.00,Euro,6,18000.00,1.90,34200.000
5,Cellphone Xiaomi,480.48,Dollar,5,2402.40,2.00,4804.800
6,jewel 20g,20.00,Gold,350,7000.00,1.15,8050.000

- Updating Prices and Final Price Calculation

In [15]:
# 5 - Recalculate the price of each product
    # Update the quotation

chart.loc[chart["Coin"]=="Dollar", "Quote"] = float(dollar_scavenging)
chart.loc[chart["Coin"]=="Euro", "Quote"] = float(euro_scavenging)
chart.loc[chart["Coin"]=="Gold", "Quote"] = float(gold_scavenging)

    # update the actual base price (original base price * quote)
chart["Purchase Price"] = chart["Original Price"] * chart["Quote"]

# update the final price (actual base price * Profit)
chart["Sales Price"] = chart["Purchase Price"] * chart["Profit"]

# chart["Sales Price"] = chart["Sales Price"].map("R${:.2f}".format)
display(chart)

,Product,Original Price,Coin,Quote,Purchase Price,Profit,Sales Price
0,Camera Canon,999.99,Dollar,5.155100,5155.048449,1.40,7217.067829
1,Renault Car,4500.00,Euro,5.645364,25404.137609,2.00,50808.275217
2,Notebook Dell,899.99,Dollar,5.155100,4639.538449,1.70,7887.215363
3,IPhone,799.00,Dollar,5.155100,4118.924900,1.70,7002.172330
4,Fiat Car,3000.00,Euro,5.645364,16936.091739,1.90,32178.574304
5,Cellphone Xiaomi,480.48,Dollar,5.155100,2476.922448,2.00,4953.844896
6,jewel 20g,20.00,Gold,318.670000,6373.400000,1.15,7329.410000

### Now let's export the new updated price base

In [17]:
# 6 - Save the new product prices
chart.to_excel("NewProduct.xlsx", index=False)